<!-- navbar.ejs
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>

        <li><a href="/catfacts">Jokes</a></li>
        <li><a href="/news">IP info</a></li>
        <li><a href="/stocks">Cat Facts</a></li>

      
    </ul>
</nav> -->

<nav style="background-color: #333;">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: left;"><a href="/" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Home</a></li>
        <li style="float: left;"><a href="/register" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Register</a></li>
        <li style="float: left;"><a href="/login" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Login</a></li>
        <li style="float: left;"><a href="/catfacts" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Jokes</a></li>
        <li style="float: left;"><a href="/news" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">IP info</a></li>
        <li style="float: left;"><a href="/stocks" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Cat Facts</a></li>
    </ul>
</nav>